.ant-advanced-search-form {
  .AddDistribution-btn-formItem{
    display: flex;
    justify-content: center;
    .ant-btn.login-form-button {
      margin-left: 50px;
    }
    button {
      border-color: #FFC107;
    }
  }
}