.Distribution-dispatch-btn {
  background: #f9980a;
  border-color: #f9980a;
  margin: 10px 0;
  &:hover {
    background: #f9980a;
    border-color: #f9980a;
  }
}
.Distribution-cancel-btn{
  margin-top:10px;
}
